@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Orbitron', sans-serif;
  scroll-behavior: smooth;
  @apply bg-black/90 text-gray-50;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-img {
  background-image: url('../public/images/ts1.jpg');
}

h1 {
  @apply p-2;
}

p {
  @apply p-2;
}

button {
  @apply text-gray-700 hover:scale-110 hover:text-gray-900 transition-transform;
}
