@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Orbitron', sans-serif;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-img {
  background-image: url('../public/images/ts1.jpg');
}

p {
  @apply p-2;
}
